<div class="ls">
<div class="panel panel-info">
    <div class="panel-heading">
        Employee Forms
    </div>
    <div class="panel-body">
        <form [formGroup]="employeForm"  (ngSubmit)="save()">

            <div class="form-group" [ngClass]="{'has-error': (!employeForm.get('firstName').valid)}">
                <label class="col-md-2 control-label">
                    FirstName
                </label>
                <div class="col-md-10">
                    <input type="text" class="form-control"
                    placeholder="firstName"
                    formControlName="firstName"/>
                    <span class="help-block" *ngIf="(employeForm.get('firstName').errors)">
                        <span *ngIf="employeForm.get('firstName').errors.required">
                            FirstName is Required
                        </span>
                        <span *ngIf="employeForm.get('firstName').errors.minlength">
                              Min length is 3
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!employeForm.get('lastName').valid)}">
                    <label class="col-md-2 control-label">
                        LastName
                    </label>
                    <div class="col-md-10" >
                        <input type="text" class="form-control"
                        placeholder="lastName"
                        formControlName="lastName"/>
                        <span class="help-block" *ngIf="(employeForm.get('lastName').errors)">
                                <span *ngIf="employeForm.get('lastName').errors.required">
                                    lastName is Required
                                </span>
                                <span *ngIf="employeForm.get('lastName').errors.maxlength">
                                      Max length is 10
                                </span>
                        </span>
                    </div>
    
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!employeForm.get('email').valid)}">
                    <label class="col-md-2 control-label">
                        Email
                    </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                        placeholder="email"
                        formControlName="email"/>
                        <span class="help-block" *ngIf="(employeForm.get('email').errors)">
                                <span *ngIf="employeForm.get('email').errors.required">
                                        Email is Required
                                    </span>
                                <span *ngIf="employeForm.get('email').errors.pattern">
                                    Enter valid Email
                                </span>
                        </span>
                    </div>
    
            </div>
            <div class="form-group">
                    <label class="col-md-2 control-label">
                        Password
                    </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                        placeholder="password"
                        formControlName="password"/>

                    </div>
            </div>
            <div class="form-group"  [ngClass]="{'has-error': (!employeForm.get('phone').valid)}">
                    <label class="col-md-2 control-label">
                        Phone
                    </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"
                        placeholder="phone"
                        formControlName="phone"/>
                        <span class="help-block" *ngIf="(employeForm.get('phone').errors)">
                                <span *ngIf="employeForm.get('phone').errors.required">
                                        phone is Required
                                </span>
                        </span>
                    </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                        <label>Notification</label>
                </div>
                <div class="col-md-8">
                    <label class="radio-inline">
                        <input type="radio" value="phone"
                        formControlName="notification"
                        (click)="setNotification('phone')"/>
                        Phone
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="email"
                            formControlName="notification"
                            (click)="setNotification('email')"/>
                            Email
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <br/>
                    <span>
                        <button type="submit"
                            class="btn btn-success"
                            [disabled]="!employeForm.valid">
                            Submit
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
</div>